* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  place-items: center;
  display: grid;
  background: #0b0f17;
  color: #e5e7eb;
}

.console-log {
  position: fixed;
  right: 10px;
  transform: translatey(10%);
  display: flex;
  gap: 12px;
  background: #1f2937;
  color: #fff;
  padding: 8px 10px;
  /* border-radius: 10px; */
  height: 410px;
  width: 150px;
}

/* .console-log.hidden {
  display: none;
} */

.text-container {
  font-size: 8px;
  margin: 1px 1px;
  padding: 5px 5px;
  font-size: 7px;
  background-color: #374151;
  height: 390px;
  width: 200px;
}

.action-bar {
  position: fixed;
  bottom: 20px;
  transform: translateX(26%);
  display: flex;
  gap: 12px;
  background: #1f2937;
  color: #fff;
  padding: 8px 10px;
  border-radius: 10px;
  z-index: 100;
}
.action-bar.hidden {
  display: none;
}
.action-bar button {
  padding: 8px 12px;
  /* border-style: none; */
  border-radius: 10px;
  background: #374151; /* slate-700 */
  color: #fff;
  cursor: pointer;
}

.action-bar button.pressed {
  transform: scale(0.96);
  box-shadow: 0 0 0;
}

button[button-disabled="true"] {
  opacity: 0.45;
  cursor: not-allowed;
}

button[button-disabled="true"]:hover,
button[button-disabled="true"]:focus {
  outline: 2px solid #7aa2ff; /* example focus ring */
}

.stage {
  position: relative;
  width: 408px;
  height: 408px;
  image-rendering: pixelated;
  background: url("maps/Fire-Emblem-Map.png") top left / 100% 100%;
}

.health-bar-container {
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-45%);
  width: 90%;
  z-index: 1;
}

.health-bar-background {
  width: 100%;
  height: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgb(0, 0, 0);

  border-radius: 2px;
  overflow: hidden;
}

.health-bar-fill {
  height: 100%;
  background-color: #4ade80; /* Green */
}

.start-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  position: relative;
  height: 408px;
  width: 408px;
  z-index: 10;
  color: #e0e0e0;
  letter-spacing: 2px;
  word-spacing: 2px;
}

.start-cover.hidden {
  display: none;
}

.board {
  display: grid;
  grid-template-columns: repeat(12, 32px);
  grid-auto-rows: 32px;
  gap: 2px;

  padding: 2px;
  background: transparent;

  outline: none;
  z-index: 1;
  position: absolute;
}
/* individual cells */
.tile {
  background: #fff4dc;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  user-select: none;
  position: relative;
  background: transparent;
}

.alt {
  background: #ffe5aa;
  background: transparent;
}

.hover {
  border: 1px solid rgb(31, 10, 223);
  z-index: 4;
}

.attack {
  border: 1px solid red;
  z-index: 4;
}

.attack-confirm {
  background: rgb(255, 98, 98);
  z-index: 4;
}

/* The frame */
.player {
  /* Positions relative to the nearest positioned ancestor */
  position: absolute;
  /* Sets all four inset offsets to 0- */
  inset: 0;
  display: grid;
  place-items: center;
  pointer-events: none;
  z-index: 5;
  transform: scale(0.8, 1.5);
  transform-origin: center bottom;
}

.player::before {
  content: "";
  /* Size of ONE frame */
  width: 120px;
  height: 140%;

  /* Use whole spritesheet as the background */
  background-image: var(--sprite-url);

  background-repeat: no-repeat;

  background-size: 400% 100%;
  background-position: 0 0;

  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.35));
  transform: translate(-12px, -12px);
  /* transform: translate; */
  animation: idle 1.3s steps(1, end) infinite;
}

.player.attack3::before {
  background-image: var(--sprite-url);
  animation: attack 0.6s steps(1, end);
}

.player.hurt::before {
  background-image: var(--sprite-url);
  animation: hurt 0.5s steps(1, end);
  background-size: 200% 100%;
}

.player.dead::before {
  background-image: var(--sprite-url);
  animation: dead 1s steps(1, end) forwards;
  background-size: 600% 100%;
}

.player.run::before {
  background-image: var(--sprite-url);
  animation: run 0.7s steps(1, end) infinite;
  background-size: 700% 100%;
}

@keyframes idle {
  0% {
    background-position-x: 0px;
  }
  25% {
    background-position-x: -120px;
  }
  50% {
    background-position-x: -240px;
  }
  75% {
    background-position-x: -360px;
  }
  100% {
    background-position-x: 0px;
  }
}

@keyframes attack {
  0% {
    background-position-x: -10px;
  }
  25% {
    background-position-x: -130px;
  }
  50% {
    background-position-x: -250px;
  }
  75% {
    background-position-x: -370px;
  }
  100% {
    background-position-x: -340;
  }
}

@keyframes hurt {
  0% {
    background-position-x: -10px;
  }
  50% {
    background-position-x: -130px;
  }
}

@keyframes dead {
  0% {
    background-position-x: -5px;
  }
  20% {
    background-position-x: -120px;
  }
  40% {
    background-position-x: -250px;
  }
  60% {
    background-position-x: -370px;
  }
  80% {
    background-position-x: -490px;
  }
  100% {
    background-position-x: -622px;
  }
}

@keyframes run {
  0% {
    background-position-x: 0px;
  }
  20% {
    background-position-x: -110px;
  }
  40% {
    background-position-x: -223px;
  }
  60% {
    background-position-x: -350px;
  }
  80% {
    background-position-x: -480px;
  }
  100% {
    background-position-x: 0px;
  }
}

.highlight {
  background-color: rgb(190, 255, 190);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.heading {
  display: flex;
  gap: 12px;
  background: #374151;
  color: white;
  padding: 8px 10px;
  /* border-radius: 10px; */
  position: static;
  width: 400px;
  height: 30px;
  justify-content: space-between;
}

.phase {
  color: white;
}

.turn {
  color: white;
}
